<section>
  <h2>Hello from custom section</h2>
</section>

{% schema %}
{
  "name": "Custom Section",
  "settings": [],
  "presets": [
    {
      "name": "Custom Section",
      "settings": {}
    }
  ]
}
{% endschema %}
