<div class="w-screen h-screen bg-black overflow-x-hidden">
  <div class="hero-backgrounds h-full w-full">
    {%- if section.settings.desktop_background != blank -%}
      <img
        class="desktop__image hidden md:block"
        src="{{ section.settings.desktop_background | image_url }}"
        height=""
        width=""
        alt=""
      >
    {%- else -%}
      {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg hidden md:block' }}
    {%- endif -%}
    {%- if section.settings.mobile_background != blank -%}
      <img
        class="mobile__image md:hidden h-screen w-full object-cover"
        src="{{ section.settings.mobile_background | image_url }}"
        height=""
        width=""
        alt=""
      >
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Hero Section",
  "tag": "section",
  "class": "hearo-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "desktop_background",
      "label": "Desktop Background image"
    },
    {
      "type": "image_picker",
      "id": "mobile_background",
      "label": "Mobile background image"
    }
  ],
  "presets": [
    {
      "name": "Hero Section",
      "settings": {}
    }
  ]
}
{% endschema %}
