{{ 'section-hero.css' | asset_url | stylesheet_tag }}

<div class="container-fluid hero-contentainer">
  <div class="hero-background">
    {% if section.settings.desktop_background != blank %}
      {{ section.settings.desktop_background | image_url: width: 'master', height: 'master' | image_tag }}
    {%- else -%}
      {{ 'hero-apparel-1' | placeholder_svg_tag }}
    {% endif %}
  </div>
  <div class="container hero-contents">
    <div class="row">
      <div class="col hero-contents-col">
        <h2>Welcome</h2>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Hero Section",
  "tag": "section",
  "class": "hearo-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "desktop_background",
      "label": "Desktop Background"
    }
  ],
  "presets": [
    {
      "name": "Hero Section",
      "settings": {}
    }
  ]
}
{% endschema %}
