{%- for product in collection.products -%}
  <img src="{{ product.featured_image | image_url }}" width="" height="" alt="{{ product.title }} image">
  <h2>{{ product.title | link_to: product.url }}</h2>
{%- endfor -%}
