<div class="main-product">
  <div class="page-width">
    <div class="main-product-row">
      <div class="main-product-media-col">
        <h2>Product media col</h2>
      </div>
      <div class="main-product-content-col">
        <h2>product contents col</h2>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Main Product",
  "tag": "section",
  "class": "main-product-wrapper",
  "settings": []
}
{% endschema %}
